.card_heatmap2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 400px;
    margin: 0;
    text-align: center;
    font-family: arial;
    margin: 2vw;
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(105,105,105,0.69);
    -moz-box-shadow: 0px 2px 5px 1px rgba(105,105,105,0.69);
    box-shadow: 0px 2px 5px 1px rgba(105,105,105,0.69);
  }
  
  .price_heatmap2 {
    color: grey;
    font-size: 22px;
  }
  .heatmap2_div_link img{
    /* margin: auto; */
    width: 25vw;
    margin: auto;
    margin-top: 5px;
  }
  
  .card_heatmap2:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  .heatmap2_div_link h1{
    color: black;
    font-size: 30px;
    font-weight: 550;
  }
  .heatmap2_div_link{
    align-items: center;
    display: flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
  }
