.button {
    background-color: #3e4fae; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-top: 10%;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .card-summary{
    align-items: center;
  }
  .summary{
    /* width: 20%; */
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

  *{
      margin:0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Red Hat Display', sans-serif;
      align-items: center;
  }
  
  :root{
      --pale-blue: hsl(225, 100%, 94%);
      --bright-blue: hsl(245, 75%, 52%);
      --very-pale-blue: hsl(225, 100%, 98%);
      --desaturated-blue: hsl(224, 23%, 55%);
      --dark-blue: hsl(223, 47%, 23%);
  }
  
  a{
      text-decoration: none;
  }
  
  img{
      max-width: 100%;
      display:block;
  }
  
  .container{
      width: 100%;
      height:100vh;
      background-color: var(--pale-blue);
      display:flex;
      justify-content: center;
      align-items: center;
      position:relative;
      background-color: #3e4fae;

  }
  
  .component{
      width: 420px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      box-shadow:
      0.6px 5.3px 6.6px rgba(0, 0, 0, 0.025),
      5px 42px 53px rgba(0, 0, 0, 0.05);
      align-items: center;
      /* width: 20%; */

  }
  .plan-price-p2{
    color: rgb(207, 6, 6);
  }
  
  .hero-image img{
      border-radius: 20px 20px 0 0;
  }
  
  .component-info{
      width: 80%;
      margin: 30px auto;
  }
  .order-summary{
    margin-top: 40px;
  }
  .order-summary h2{
      padding-top: 10px;
      text-align: center;
      font-size: 24px;
      font-weight: 900;
      color:var(--dark-blue); 
      width: 100%;
  }
  .order-summary h3{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color:rgb(99 90 153);
  }
  
  .order-summary p{
    font-size: 13px;
    font-weight: 500;
    color: var(--desaturated-blue);
    text-align: center;
    line-height: 18px;
    margin-top: 0px;
  }
  
  .annual-plan{
      width: 100%;
      background-color: var(--very-pale-blue);
      padding: -9px 15px;
      border-radius: 10px;
      margin: 6px 0 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
  }
  
  .plan-image{
      grid-area: 1 / 1 / 2 / 2;
      width: 52px;
  }
  
  .plan-image img{
      width: 72px;
      border-radius: 50%;
  }
  
  .plan-price{
      grid-area: 1 / 2 / 2 / 3; 
      /* align-items: center; */
      width: 320px;
      margin-top: 5px;
      padding: 0 0;
      margin-bottom: 0rem;
  }
  
  .plan-price h4{
      font-size: 14px;
      font-weight: 700;
      color:var(--dark-blue);
      margin-top: 0px;
  }
  
  .plan-price p{
      font-size: 14px;
      margin-top: 0px;
      color: var(--desaturated-blue);
      padding: 0px;
      margin-bottom: 0rem;
      width: auto;
  }
  .change{
      grid-area: 1 / 4 / 2 / 5;
      font-size: 14px;
      font-weight: 700;
      text-decoration: underline;
      transition: text-decoration .5s;
  }
  
  .change:hover{
      text-decoration: none;
  }
  
  .btn-payment{
      width: 100%;
      background-color: var(--bright-blue);
      color: #fff;
      font-weight: 500;
      border: none;
      border-radius: 7px;
      padding: 10px;
      margin: 16px 0 14px;
      display:block;
      box-shadow: 0px 16px 18px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: opacity .5s;
  }
  
  .btn-payment:hover{
      opacity: .7;
  }
  
  .btn-cancel{
      width: 100%;
      font-size: 14px;
      text-align: center;
      color:var(--dark-blue);
      display: block;
      margin-top: 6px;
      padding: 10px 0 5px;
      font-weight: 700;
      opacity: .7;
      transition: opacity .5s;
  }
  
  .btn-cancel:hover{
      opacity: 1;
  }
  
  
  .attribution{
      background-color: #fff;
      width:350px;
      font-size: 10px;
      position: absolute;
      left: 5px;
      bottom: 5px;
      text-align: center;
      padding: 3px;
      border-radius: 5px;
      color: var(--dark-blue);
  
  }
  
  .attribution a{
      text-decoration: none;
      color: var(--bright-blue);
  }