*{
    margin:0px;
    padding:0px;
    

}
.cont{
    margin: 50px auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.Upload {

    /* border:2px solid black; */
    -webkit-box-shadow: 0px 0px 10px 0px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(219,219,219,1);
    box-shadow: 0px 0px 10px 0px rgba(219,219,219,1);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding:20px 30px;
    border-radius: 7px;
    
  }
  .Upload input 
  {  margin-top:5px;
    width:100%;
      
      line-height:30px;
  }
 .Upload button{
      margin-top:20px;
      border-radius:5px;
      
  }
  img {
    width: 300px;
    margin: 10px;
  }
  .Next{
    background-color: #3e4fae; /* Green */
    border: none;
    color: white;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 4px;
    transition-duration: 0.4s;
  }